<header id="showcase">
  <div class="box">
    <div class="box2">
  <h1>Welcome To Shipping Happens</h1>
  <p>We Are The Logistics King For Companies Like Amazon, Target & Tesla.</p>
  <div>
  <a href="/clients/sign_in" class="button">Log In</a>
  <a href="/clients/sign_up" class="button">Sign up</a>
</div>
</div>
</div>
</header>
<section id="section-a">
    <p> About </p>
  </section>
