<head>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head
<body>
<header id="showcase">
  <div class="box">
    <div class="box2">
  <h1>Welcome To Shipping Happens</h1>
  <p>We Are The Logistics King For Companies Like Amazon, Target & Tesla.</p>
  <div>
  <a href="#" class="button">Log In</a>
  <a href="#" class="button">Sign up</a>
</div>
</div>
</div>
</header>
<section id="section-a">
    <p> About </p>
  </section>
</body>