// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#showcase{
  position: fixed;
  background: url('showcase.jpeg') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  z-index: 1;

}

.homepage-guts {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  z-index: 100;
  margin: 0;
  font-family: "Gotham", sans-serif;
  color:#FFFFFF;
  line-height:4;
}

.overlay {
  position: fixed;
  background-color: rgba(0,0,0,.4);
  width: 100%;
  height: 100vh;
  z-index: 200;
}

.homepage-guts h1{
  font-size:50px;
  line-height:2;
}
.homepage-guts p{
  font-size:20px;
}
.button{
  background: rgba(0,0,0,.5);
  font-size:18px;
  text-decoration:none;
  color:#FFFFFF;
  border:#FFFFFF 1px solid;
  padding:10px 20px;
  border-radius:10px;
  margin-top:20px;
  margin-left: 12px;
}

.button:hover {
  background: rgba(0,0,0,.6);
  color:#fff;
}