.job-page{
	width: 50%;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid;
    box-shadow: 5px 10px #939E81;
 	background-color: white;
 	margin: 3% auto;
 	text-align: center;
 	font-size: 18px;

 	.jobs {
 		margin: 2px;
 	}

 	h2 {
 		margin: 2px;
 	}
 	h3 {
 		margin-top: 5px;
 		padding: 0;
 	}
 	.cargobox {
 		display: block;
 		text-align: center;
 	}
 	.textarea{
 		min-width: 100px;
 	}
}

#cost {
	display: inline-block;
}
.cost {
	margin: 5px;
}
.costCalc div{
	margin: 10px;
	padding: 5px;
	text-align: center;
}
// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
