.job-page{
	width: 50%;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid;
    box-shadow: 5px 10px #939E81;
 	background-color: white;
 	margin: 3% auto;
 	text-align: center;
 	font-size: 18px;
}
// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
